.shopHome {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .cartHidden {
        z-index: -3;
    }

    .hero {

        // z-index: -1;
        position: relative;

        button {
            cursor: pointer;
        }

        .heading-primary {
            color: black;
        }

        .rm-hero-slider {
            display: flex;
            justify-content: center;
        }


        &-container {

            background-color: #FEBE5D;
            position: absolute;
            top: 20vh;
            right: 5vw;
            width: 25vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;

            h1 {
                font-size: 30px;
                font-family: $font-gothic;
            }

            h2 {
                margin-top: 30px;
                position: relative;

                svg {
                    position: absolute;
                    top: -1px;
                    // left: 240px;
                }


            }

            &-bg {
                background-color: #1F180A;
                position: absolute;
                opacity: .8;
                z-index: -1;
                top: 22vh;
                right: 6vw;
                width: 25vw;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: black;
                border-radius: 10px;
            }

        }

    }

    .heronav {
        background-color: #100D05;
        width: 75vw;
        height: 30vh;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

        display: flex;

        &-cat {
                // border: 2px solid black;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;

            h1 {
                cursor: pointer;
            }


            &-img {
                width: 200px;
                height: 200px;
                border: 2px solid #FEBE5D;
                border-radius: 50%;
                background-size: cover;
                cursor: pointer;
            }
        }
    }

    // h1 {
    //     font-size: 24px;
    // }
    
}