.shopHome {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .cartHidden {
        z-index: -3;
    }

    .hero {

        // z-index: -1;
        position: relative;

        button {
            cursor: pointer;
        }


        &-container {

            background-color: #FEBE5D;
            position: absolute;
            top: 20vh;
            right: 5vw;
            width: 30vw;
            height: 30vh;

        }

    }

    .heronav {
        background-color: #100D05;
        width: 80vw;
        height: 30vh;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

        display: flex;

        &-cat {
                // border: 2px solid black;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;

            &-img {
                width: 200px;
                height: 200px;
                border: 2px solid #FEBE5D;
                border-radius: 50%;
                background-size: cover;
            }
        }
    }


}