.category {


    display: grid;
    width: 80vw;
    grid-template-columns: 40% 30% 30%;
    height: 70vh;
    margin: 40px 0;
    position: relative;
    // grid-gap: 20px;
    // box-sizing: border-box;


    &-item {
        border: 1px solid rgba($color: #000000, $alpha: .3);
        box-sizing: border-box;
        // background-color: #FEBE5D;
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        .overlay {
            position: absolute;
            background-color: #FEBE5D;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;


            h1 {
                font-size: 24px;

            }
        }




        &:hover .item-inner{

            transform: scale(1.1);
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
          }

        &:hover .overlay{
            opacity: .95;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
        }




        .item-inner {

            width: 100%;
            height: 100%;
            background-size: cover;


            // border: 2px solid #FEBE5D;
            // margin: 0 20px;


        }
    }

}