.popular-heading {
    font-size: 1.6rem;
}

.popular {


    .carousel {
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    &-item {

        text-align: left;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;



        &:hover {

                
            .popular-item__cart {
                transition: .6 all ease;
                opacity: 1;
            }
        }


        &__image {
            // opacity: .2;
            position: relative;


            img {
                max-width: 250px;
                min-width: 150px;
                width: 100%;
                height: auto;
                transition: all .2s ease;
                cursor: pointer;

                &:hover {

                    -webkit-box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.74);
                    -moz-box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.74);
                    box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.74);

                }

            }

            .img-hover {
                filter: 
                // invert(27%)
                //  sepia(20%) 
                //  saturate(28%) 
                //  hue-rotate(346deg) 
                 brightness(75%) 
                //  contrast(40%);

                opacity(.8)
            }


        }


        &__cart {

            position: absolute;
            top: 35px;
            right: 5px;
            width: 30px;
            cursor: pointer;

            opacity: 0;

            border-radius: 5px;
            padding: 3px;

            svg {
                display: block;
                fill: $color-cultured;
                // opacity: .4;
                mix-blend-mode: soft-light;
                // box-shadow: inset 0 1px 2px 1px rgba($color-pinetree, $alpha: .3);


                // filter: 
                // // invert(27%) 
                // // sepia(10%) 
                // // saturate(2878%) 
                // // hue-rotate(346deg) 
                // // brightness(100%) 
                // // contrast(97%)
                // opacity(.2)
                // ;
            }




            &:hover {
                background-color: rgba($color-cultured, .3);
                // fill: black;


                svg {
                    fill: black;
                    mix-blend-mode: normal;
                }
            }



        }


        .svg-heart {
            top: 5px;


        }

        .hover-layer {
            position: absolute;
            background-color: black;
            top: 0;
            left: 0;
           
            width: 200px;
            height: 150px;
            
        }

        &__info {

            text-decoration: none;
            display: inline-block;

            .title {
                font-size: 1.3rem;
                font-weight: 400;
                

                color: #000;
                
            }

            .vendor {
                font-size: 1rem;
                // padding-bottom: 30px;
                padding-top: 2px;
            }


            .rating-section {
                
                width: 100%;
                display: flex;
                align-items: center;
                margin: 5px 0;
                // justify-content: space-between;

                span {


                }
            }

            .rating {
                // position: relative;
                // top: 20px;
                // float: left;
                margin: 0;
                padding: 0;

                li {
                    float: left;
                    display: block;
                    height: 16px;
                    width: 16px;
                    margin-left: 5px;
                    background: url("https://designmodo.com/demo/ecommerce-css3/img/stars.png") no-repeat 0 0;

                }

                li:first-child {
                    margin-left: 0;
                }

                li.rated {
                    background-position: 0px -16px;
                }
            }

            .ratings {
                padding: 3px 0px 0px 2px;

            }


            .price {
                font-weight: bold;
                font-size: 1.4rem;
                color: black;
            }
        }
    }
}