.nav-buttons {

    width: 6.5vw;
    // justify-content: center;
    display: flex;
    align-items: center;
    


    &-signin {
        margin-right: 2rem;




        &__btn {


            /* the :link and :visited refer to the pseudoclass of .btn, reffering to its state (eg. hover) */
            &:link,
            &:visited {
            // text-transform: uppercase;
            text-decoration: none;
            font-weight:bold;
            color: black;
            

            font-size: 1.6rem;

            /* always make inline-block if adding padding to elements */
            display: inline-block;  





        }





















            // &-txt {
            //     text-transform: uppercase;
            //     text-decoration: none;
            // }

            
        }

    


    }

    
    
    
    &-cart {
        margin-right: 2rem;
        position: relative;








        &__btn {

            
            position: relative;

            &-icon {
                img {
                    position: absolute;
                    top: -41px;
                    left: 3px;
                    transform: scale(1.15);
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                
                }
    
                svg {
                    width: 3rem;
                    // margin-top: 2px;
                    // margin-right: 10px;
            
                }



            }

            &-items {
                position: absolute;
                top: -22.0px;
                left: 24.9px;
                color: white;
                font-weight: bold;

            }


        }

        // &__btn-items {
        //     position
        // }



        &__btn-icon {




        }


        .cart-dropdown-container {

            position: absolute;
            top: 50px;
            left: -268px;
            z-index: 1;
            border: 2px solid black ;



            .cart-dropdown {
                position: relative;
                background:white;
                border-radius: .4em;
                height: 450px;
                width: 400px;

            }
            
            .cart-dropdown:after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 0;
                border: 24px solid transparent;
                border-bottom-color: black;
                border-top: 0;
                margin-left: 60px;
                margin-top: -24px;
            }
        }



    }

}